<div class="row">
  <div class="left three cols">
    <%= render 'layouts/manage_side_bar' %>
  </div>
  <div class="right nine cols">
    <% @articles.each_slice(3) do |articles| %>
      <div class="row">
        <% articles.each do |article| %>
          <div class="four cols card">
            <%= link_to edit_article_path(id: article.id) do %>
              <div class="head">
                <i class="icon ion-ios-film"></i>&nbsp;<%= article.title %>
              </div>
            <% end %>
            <div class="body summary">
              <%= link_to edit_article_path(id: article.id) do %>
                <img src="<%= article.thumbnail %>" alt="<%= article.title %>" />
              <% end %>
              <div class="info video-summary">
                <p><%= article.description %></p>
                <div class="host">
                  <i class="icon ion-earth"></i>&nbsp;<%= article.host %>
                </div>
              </div>
              <% article.tag_list.each do |tag| %>
                <%= render 'layouts/tag', tag: tag %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="row tx-center">
      <%= paginate @articles %>
    </div>
  </div>
</div>
