<div class="row">
  <div class="left three cols">
    <%= render 'layouts/manage_side_bar' %>
  </div>
  <div class="right nine cols article-form">
    <div class="card">
      <% unless @article.nil? %>
        <% if @article.errors.any? %>
          <% @article.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger" role="alert"><%= msg %></div>
          <% end %>
        <% end %>
      <% end %>
      <%= form_for @article do |f| %>
        <%= f.text_field :title, placeholder: 'Title', required: true %>
        <%= f.text_field :thumbnail, placeholder: 'Thumbnail', required: true %>
        <%= f.text_area :description, placeholder: 'Description', required: true %>
        <%= f.text_field :link, placeholder: 'Link', required: true %>
        <%= f.text_field :duration, placeholder: 'Duration', required: true %>
        <%= f.text_field :host, placeholder: 'Host', required: true %>
        <label>Category</label>
        <%= f.collection_select :category_id, Category.all, :id, :title, required: true %>
        <label>Tags</label>
        <ul id="article-tags"></ul>
        <%= f.submit 'Save', class: "btn fill-red" %>
      <% end %>
    </div>
  </div>
</div>

<style media="screen">
  .article-form input {
    width: 100%;
  }
</style>
