<div class="row">
  <%= render 'layouts/featured_videos' %>
</div>

<div class="row">
  <div class="right nine cols">
    <div class="row">
      <div class="twele cols card">
        <div class="head">
          <%= link_to @article.link, target: "_blank" do %>
            <%= @article.title %>
          <% end %>
        </div>
        <div class="body">
          <%= link_to @article.link, target: "_blank" do %>
            <img src="<%= @article.thumbnail %>" width="100%" alt="<%= @article.title %>" />
          <% end %>
          <div class="video-info">
            <div class="row" style="position: relative;">
              <div class="ten cols">
                <%= link_to @article.link, target: "_blank" do %>
                  <h1 class="video-title"><%= @article.title %></h1>
                <% end %>
              </div>
              <div class="two cols">
                <span data-video-id="<%= @article.id %>" class="add-favorite-btn"><i class="icon ion-plus"></i>&nbsp;お気に入りに追加</span>
              </div>
            </div>
            <div class="video-meta">
              <span class="left video-duration"><i class="icon ion-clock"></i>&nbsp;再生時間：<%= @article.duration %></span>
              <span class="right video-host"><i class="icon ion-earth"></i>&nbsp;<%= @article.host %></span>
            </div>
            <hr>
            <p><%= @article.description %></p>
            <%= link_to @article.link, target: "_blank" do %>
            <div class="tx-center">
              <span style="margin: 12px 0; width: 100%; padding: 8px;" class="btn btn-md fill-dark"><i class="icon ion-share"></i>&nbsp;動画を見る</span>
            </div>
            <% end %>
            <div class="tags">
              <% @article.tag_list.each do |tag| %>
                <%= render 'layouts/tag', tag: tag %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="left three cols">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="twelve cols">
    <div class="row">
      <h6 class="sub-heading">関連動画</h6>
    </div>
    <% @related_articles.each_slice(3) do |articles| %>
      <div class="row">
        <% articles.each do |article| %>
          <div class="four cols card">
            <%= render 'layouts/article_card', article: article %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
