<div class="row">
  <%= render 'layouts/featured_videos' %>
</div>

<div class="row">
  <div class="left three cols">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="right nine cols">
    <div class="tx-center">
      <div class="hide-xs">
        <!-- i-mobile for PC client script -->
        <script type="text/javascript">
        imobile_pid = "57982";
        imobile_asid = "1096335";
        imobile_width = 728;
        imobile_height = 90;
        </script>
        <script type="text/javascript" src="http://spdeliver.i-mobile.co.jp/script/ads.js?20101001"></script>
      </div>

      <div class="show-xs">
        <!-- i-mobile for SmartPhone client script -->
      	<script type="text/javascript">
      		imobile_tag_ver = "0.3";
      		imobile_pid = "57982";
      		imobile_asid = "1096383";
      		imobile_type = "inline";
      	</script>
      	<script type="text/javascript" src="http://spad.i-mobile.co.jp/script/adssp.js?20110215"></script>
      </div>
    </div>

    <div class="popular-videos">
      <div class="row">
        <h6 class="sub-heading"><i class="icon ion-ribbon-b"></i>&nbsp;人気動画</h6>
      </div>
      <% @popular_articles.each_slice(2) do |articles| %>
        <div class="row">
          <% articles.each do |article| %>
            <div class="six cols card">
              <%= render 'layouts/article_card', article: article %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="feature-videos">
      <div class="row">
        <h6 class="sub-heading"><i class="icon ion-flash"></i>&nbsp;新着動画</h6>
      </div>
      <% @latest_articles.each_slice(2) do |articles| %>
        <div class="row">
          <% articles.each do |article| %>
            <div class="six cols card">
              <%= render 'layouts/article_card', article: article %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row tx-center">
        <%= paginate @latest_articles %>
      </div>
    </div>
  </div>
</div>
