<div class="row">
  <%= render 'layouts/featured_videos' %>
</div>

<div class="row">
  <div class="left three cols">
    <%= render 'layouts/sidebar' %>
    <div class="twelve cols">
      <div class="row">
        <h6 class="sub-heading"><i class="icon ion-ios-paw"></i>&nbsp;素人動画</h6>
      </div>
      <div class="row tx-center">
        <style media="screen">
          ._erokawa_bp_card {
            width: 100% !important;
          }

          ._erokawa_bp_card img {
            width: 100% !important;
          }
        </style>
        <div id="_erokawa_blog_parts_7"></div>
        <script type="text/javascript" src="http://ero-kawa.com/blogparts/bpm.js.php?size=294&int=8&line=1&enc=0&num=4&gen=7&safe=1&wid=1230&clr=000000&bgc=FFFFFF"></script>
      </div>
    </div>
  </div>
  <div class="right nine cols">
    <div class="tx-center">

      <%= render 'layouts/ad' %>
      <%= render 'layouts/ad-mobile' %>

    </div>

    <div class="popular-videos">
      <div class="row">
        <h6 class="sub-heading"><i class="icon ion-ribbon-b"></i>&nbsp;人気動画</h6>
      </div>
      <% @popular_articles.each_slice(2) do |articles| %>
        <div class="row">
          <% articles.each do |article| %>
            <div class="six cols card">
              <%= render 'layouts/article_card', article: article %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="tx-center">

      <%= render 'layouts/ad' %>
      <%= render 'layouts/ad-mobile' %>

    </div>

    <div class="feature-videos">
      <div class="row">
        <h6 class="sub-heading"><i class="icon ion-flash"></i>&nbsp;新着動画</h6>
      </div>
      <% @latest_articles.each_slice(2) do |articles| %>
        <div class="row">
          <% articles.each do |article| %>
            <div class="six cols card">
              <%= render 'layouts/article_card', article: article %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row tx-center">
        <%= paginate @latest_articles %>
      </div>
    </div>
  </div>
</div>
