<div class="row">
  <div class="left three cols">
    <%= render 'layouts/manage_side_bar' %>
  </div>
  <div class="right nine cols">
    <div class="qw-box">
      <table class="full-x">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mean</th>
            <th>Prefix</th>
            <th>Suffix</th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= link_to tag.name, edit_tag_path(tag) %></td>
              <td><%= tag.mean %></td>
              <td><%= tag.pre_words %></td>
              <td><%= tag.suf_words %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row tx-center">
      <%= paginate @tags %>
    </div>
  </div>
</div>
