  <div class="head">
    <%= link_to article_path(id: article.id) do %>
    <i class="icon ion-ios-film"></i>&nbsp;<%= article.title %>
    <% end %>
    <% if request.path != favorites_articles_path %>
      <span data-video-id="<%= article.id %>" class="add-favorite-btn"><i class="icon ion-plus"></i>&nbsp;お気に入りに追加</span>
    <% end %>
  </div>
<div class="body summary">
  <%= link_to article_path(id: article.id) do %>
    <img src="<%= article.thumbnail %>" alt="<%= article.title %>" />
  <% end %>
  <div class="info video-summary">
    <p><%= article.description %></p>
    <div class="duration">
      <i class="icon ion-android-time"></i>&nbsp;<%= article.duration %>
    </div>
    <div class="host">
      <i class="icon ion-earth"></i>&nbsp;<%= article.host %>
    </div>
  </div>
  <% article.tag_list.each do |tag| %>
    <%= render 'layouts/tag', tag: tag %>
  <% end %>
</div>
