<div class="sidebar twelve cols">
  <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-android-list"></i>&nbsp;サイトメニュー
    </div>
    <div class="body card-menu">
      <ul>
        <%= link_to root_path do %>
          <li><i class="icon ion-home"></i>トップ</li>
        <% end %>
        <%= link_to ranking_articles_path do %>
          <li><i class="icon ion-home"></i>人気動画</li>
        <% end %>
      </ul>
      <div class="sidebar-search">
        <%= form_tag search_articles_path, method: :get do %>
          <span><i class="icon ion-search"></i>&nbsp;クイックサーチ</span>
          <%= text_field_tag :search, params[:search], placeholder: '動画を検索' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-pricetags"></i>&nbsp;人気のタグ
    </div>
    <div class="body">
      <ul style="margin: 0">
        <% @sidebar_tags.each do |tag| %>
          <%= render 'layouts/tag', tag: tag %>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-earth"></i>&nbsp;関連サイト
    </div>
    <div class="body card-menu">
      <ul>
        <li><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
        <li><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
        <li class="last"><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
      </ul>
    </div>
  </div> -->
</div>
