<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Nampa Picks</title>
    <meta name="viewport" content="width=device-width,target-densitydpi=medium-dpi,initial-scale=1,minimum-scale=1,shrink-to-fit=no">
    <meta name="google-site-verification" content="xp41dzhu_1MWhm_uzuc193aOOBRCcqfmQ53TwqCgyus" />
    <%= csrf_meta_tags %>
    <script src="https://npmcdn.com/headroom.js@0.9.3" charset="utf-8"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <link rel="stylesheet" href="https://rawgit.com/thousandjapan/qwerty/master/css/qwerty.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body style="background-image: url('http://pic.prepics-cdn.com/asdasddsa/61279508.png');">
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <div class="wrap">
        <div class="pack">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
