<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Nampa Picks</title>
    <meta name="viewport" content="width=device-width,target-densitydpi=medium-dpi,initial-scale=1,minimum-scale=1,shrink-to-fit=no">
    <meta name="google-site-verification" content="xp41dzhu_1MWhm_uzuc193aOOBRCcqfmQ53TwqCgyus" />
    <%= csrf_meta_tags %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83262502-1', 'auto');
      ga('send', 'pageview');

    </script>
    <style media="screen">
      .loading-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .8);
        z-index: 200;
      }
      .loading-message {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      .loading-message img {
        width: 48px;
      }
    </style>
    <%= include_gon %>
  </head>

  <body style="background-image: url('http://pic.prepics-cdn.com/asdasddsa/61279508.png');">
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <div class="loading-overlay">
        <div class="loading-message">
          <p>Loading...</p>
          <img src="http://pic.prepics-cdn.com/asdasddsa/61306143.gif" alt="" />
        </div>
      </div>
      <div class="wrap">
        <div class="pack">
          <%= yield %>
        </div>
      </div>
    </div>
    <script src="https://npmcdn.com/headroom.js@0.9.3" charset="utf-8"></script>
    <link rel="stylesheet" href="https://rawgit.com/thousandjapan/qwerty/master/css/qwerty.css" media="screen" title="no title" charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" title="no title" charset="utf-8">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
    $(window).load(function() {
      $('.loading-overlay').fadeOut();
    });
    </script>
  </body>
</html>
